.home__container {
    background: url("../../images/bg.webp");
    background-position: center;
    background-size: cover;
    padding: 5rem 2rem;
}

.home__container-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.95)), url("../../images/bg2.webp");
    background-position: center;
    background-size: cover;
}

.home-most-popular, .home-recentaly-added {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.home-recentaly-added-game-card {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    transition: 0.4s;
    width: 100%;
}

.home-recentaly-added-game-card img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.home-recentaly-added-game-card:hover {
    box-shadow: rgba(255, 83, 83, 0.3) 0px 1px 2px 0px, rgba(0, 4, 255, 0.15) 0px 1px 3px 1px;
    transform: scale(1.010);
}

.home-most-popular-game-card img {
    box-shadow: rgba(113, 4, 255, 0.3) 0px 1px 2px 0px, rgba(255, 0, 0, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    transition: 0.4s;
    filter: opacity(0.8);
}

.home-most-popular-game-card img:hover {
    box-shadow: #f8f8f8 0px 1px 1px 0px, #f8f8f8 0px 0px 0px 1px;
    transform: scale(1.010);
    filter: opacity(1);
}

@media only screen and (max-width:500px) {
    .home__container {
        padding: 4rem 1.5rem;
    }

    .home-recentaly-added, .home-most-popular {
        padding: 0 5px;
    }
    
    .home-recentaly-added-game-card:hover {
        transform: scale(1.005);
    }

    .home-most-popular-game-card img:hover {
        transform: scale(1.005);
    }


}