.home__container {
    background: url("../../images/bg.jpg");
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
}

.home__container-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.95)), url("../../images/bg2.jpg");
    background-position: center;
    background-size: cover;
}

.home-most-popular, .home-recentaly-added {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.home-recentaly-added-game-card {
    box-shadow: 0 2px 5px 0 #2403ffa4;
    border-radius: 5px;
    transition: 0.4s;
}

.home-recentaly-added-game-card img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.home-recentaly-added-game-card:hover {
    box-shadow: 0 2px 10px 2px #2403ffa4;
    transform: scale(1.010);
}

.home-most-popular-game-card img {
    box-shadow: 1px 0px 1px #ffffffb8;
    border-radius: 5px;
    transition: 0.4s;
    filter: opacity(0.7);
}

.home-most-popular-game-card img:hover {
    box-shadow: 0 2px 5px 0 #ffffff84;
    transform: scale(1.010);
    filter: opacity(0.9);
}

@media only screen and (max-width:500px) {
    .home__container {
        padding: 4rem 1.5rem;
    }

    .home-recentaly-added, .home-most-popular {
        padding: 0 5px;
    }

    .home-recentaly-added-game-card {
        box-shadow: 0 1px 3px 0 #2403ffa4;
    }

    .home-recentaly-added-game-card:hover {
        box-shadow: 0 1px 5px 1px #2403ffa4;
        transform: scale(1.005);
    }

    .home-most-popular-game-card img:hover {
        transform: scale(1.005);
    }


}