@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    min-height: calc(100vh - 65px);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: "" !important;
}

.transition-400 {
    transition: all 0.4s ease;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0.8rem;
    }

}